:host {
  --menu-width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  contain: strict;
  z-index: 1000;
  display: none;
  user-select: none;
}

:host(.open-menu) {
  display: block;
}

.menu-container {
  width: var(--menu-width);
  height: 100%;
  contain: strict;
  z-index: 1;
  position: relative;
  will-change: transform;
  background: var(--cy-toolbar-background);
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.15);
  border-right: 1px solid var(--cy-border-color);
}

.menu-right {
  float: right;
  border-left: none;
  border-left: 1px solid var(--cy-border-color);
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.15);
}
