:host {
  --menu-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  contain: strict;
  z-index: 1000;
  display: none;
  user-select: none;
}

:host(.open-menu) {
  display: block;
}

.menu-container {
  width: var(--menu-width);
  height: 100%;
  contain: strict;
  z-index: 1;
  position: relative;
  will-change: transform;
  box-shadow: rgb(0 0 0 / 18%) 4px 0px 16px;
  border-right: 1px solid rgb(0 0 0 / 0.1);

}

.menu-right {
  float: right;
  border-left: none;
  border-left: 1px solid rgb(0 0 0 / 0.1);
  box-shadow: rgb(0 0 0 / 18%) -4px 0px 16px;
}