iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

a {
  z-index: 1;
  font-weight: bold;
}

cy-content {
  padding-top: 0 !important;
}
