cy-viewport-scroll {
  max-width: 100%;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .inner-content {
    display: flex;
    height: 100%;
    flex-direction: column;

    .vertical-inner-content,
    header-wrapper {
      position: relative;
    }

    .vertical-scroll {
      flex-grow: 1;
      max-width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
