cy-viewport-scroll {
  max-width: 100%;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  position: relative;

  .ver-scroll-bar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 22;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    .ver-scroll-barinner {
      width: 1px;
    }
  }

  .inner-content {
    display: flex;
    height: 100%;
    flex-direction: column;

    .vertical-inner-content,
    header-wrapper {
      position: relative;
    }

    .vertical-scroll {
      flex-grow: 1;
      max-width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
