:host {
  display: inline-block;
  display: flex;
  color: var(--cy-color-primary-contrast);
  background-color: var(--cy-color-primary);
  border-radius: 4px;
  width: 122px;
  height: 45px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transform-style: preserve-3d;
}

.activatable {
  position: relative;
  overflow: hidden;
}

.oper {
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.num-box {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.front {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  backface-visibility: hidden;
}
.back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}
