:host {
  --border-radius: 8px;
  display: inline-flex;
  flex-wrap: nowrap;
  border-radius: var(--border-radius);
  cursor: pointer;
  user-select: none;
  background: rgba(var(--cy-color-base-rgb), 0.2);
  box-shadow: 0 0 5px rgba(var(--cy-background-contrast-rgb), 0.16);
}

:host(.overfrow-scroll) {
  overflow: auto;
  max-width: 100%;
}
