:host {
  --border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: var(--border-radius);
  width: 100%;
  overflow: auto;
  cursor: pointer;
  user-select: none;
  margin: 5px 0;
  background: rgba(var(--cy-color-base-rgb), 0.15);
  box-shadow: 0 0 5px rgba(197, 142, 142, 0.16);
}
:host(.overfrow-scroll) {
  overflow: auto;
}
