:host {
  display: block;
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: var(--cy-background-color, #ffffff);
  contain: size style;
}

.inner-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
  height: 100%;
  padding: 8px 0;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.overscroll::before,
.overscroll::after {
  position: absolute;

  width: 1px;
  height: 1px;

  content: '';
}

.overscroll::before {
  bottom: -1px;
}

.overscroll::after {
  top: -1px;
}

[slot='fixed'] {
  position: absolute;
  top: 0;
  left: 40%;
}
