.cy-page {
  canvas {
    margin: 5%;
  }

  .game-contral {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .direction {
    display: flex;
    flex-direction: row;
    justify-content: center;

    cy-button{
      width: 55px;
      height: 40px;
    }

    cy-button + cy-button {
      margin-left: 15%;
    }
  }
}
