.cy-page {
  .game-contral {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contral {
    padding: 5%;
  }

  .canvas-box {
    display: flex;
    margin-top: 15px;
    justify-content: center;

   #canvasbg{
      position: absolute;

    }
  }

  .direction {
    display: flex;
    flex-direction: row;
    justify-content: center;

    cy-button + cy-button {
      margin-left: 50px;
    }
  }
}
