:host {
  --min-height: 48px;
  --highlight-color: var(--cy-color-primary, #3880ff);
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-indent: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  text-align: inherit;
  white-space: inherit;
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: inherit;
  width: 100%;
  outline: none;
  overflow: inherit;
  box-sizing: border-box;
  z-index: 1;
  min-height: var(--min-height);
}

.item-native {
  display: flex;
  position: relative;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  height: 100%;
  outline: none;
  overflow: inherit;
  box-sizing: border-box;
  z-index: 1;
  min-height: var(--min-height);
}
.item-inner {
  margin: 0px;
  display: flex;
  position: relative;
  flex: 1 1 0%;
  flex-direction: inherit;
  align-items: inherit;
  align-self: stretch;
  min-height: inherit;
  overflow: inherit;
  box-sizing: border-box;
}

.input-wrapper {
  display: flex;
  flex: 1 1 0%;
  flex-direction: inherit;
  align-items: inherit;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: inherit;
  box-sizing: border-box;
}

.item-highlight {
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background: var(--highlight-color);
  height: 2px;
  z-index: 1;
}

.bottom-line {
  border-bottom: 1px solid #cccccc;
}
