:host {
  --color: var(--cy-color-base);
  --size: 300px;
  --grey-color: rgba(var(--cy-color-base-rgb), 0.5);
  display: block;
  --background-color: var(--cy-color-contrast);
  color: var(--color);
  padding: 0.5em;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 5%);
  width: var(--size);
  user-select: none;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.calendar-header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-switch {
  width: fit-content;
  padding: 5px 8px;
}

.nav-box {
  width: 1.8em;
  height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 10px calc(var(--size) / 6) calc(var(--size) / 5) rgb(var(--cy-color-base-rgb), 0.06);
}

cy-icon {
  color: var(--color);
  font-size: 1.3em;
}

.calendar-content {
  width: 100%;
  position: relative;
}

.calendar-content::before {
  content: '';
  width: 100%;
  display: block;
  padding-bottom: 100%;
}

.translate-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.TranslateAni {
  transition: transform 200ms ease-in-out;
}

.activatable {
  position: relative;
  overflow: hidden;
}

.activated {
  color: #9b9b9b;
}

.table {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  will-change: transform;
  transform-origin: center;
  position: absolute;
}

.tbody {
  color: var(--grey-color);
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: -2;
}
.table .tr:first-of-type {
  color: var(--grey-color);
}

.tr {
  display: flex;
}

.td {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  overflow: hidden;
  margin: 5px;
  border: 2px solid transparent;
}

@media (any-hover: hover) {
  .tbody .td:hover {
    border-color: rgb(255 255 255 / 70%);
  }
}

.td::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.td .item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.obvious {
  color: var(--color);
}

.now {
  background: var(--cy-color-primary);
  color: var(--cy-color-contrast);
}

.choosed {
  border: 2px solid var(--grey-color) !important;
}
