:host {
  display: block;
  padding: 0.5em;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
  --color: #ffffff;
  --background-color: #3d3d3d;
  --max-width: 500px;
  max-width: var(--max-width);
  color: var(--color);
  background-color: var(--background-color);
  user-select: none;
}

.calendar-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-switch {
  width: fit-content;
  padding: 5px 8px;
}

.calendar-page-nav {
  width: 28.5%;
  display: flex;
  align-items: center;
}

.calendar-page-nav .nav-box {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

cy-icon {
  color: var(--color);
  font-size: 1.7em;
}

.calendar-content {
  width: 100%;
  position: relative;
}

.calendar-content::before {
  content: '';
  width: 100%;
  display: block;
  padding-bottom: 100%;
}

.translate-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.TranslateAni {
  transition: transform 500ms ease-in-out;
}

.activatable {
  position: relative;
  overflow: hidden;
}

.activated {
  color: #9b9b9b;
}

.table {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  will-change: transform;
  transform-origin: center;
  position: absolute;
}

.tbody {
  color: grey;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tr {
  display: flex;
}

.td {
  flex: 1;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  margin: 1px;
}

.td::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.td .item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouseover-bg {
  display: block;
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, 0.8) 5%, transparent 50%);
  width: 450px;
  height: 450px;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.item:active:before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  box-shadow: inset 0 0 5px currentColor;
  opacity: 0.3;
}

@media (any-hover: hover) {
  .item:hover:before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    box-shadow: inset 0 0 5px currentColor;
    opacity: 0.3;
  }
}

.obvious {
  color: var(--color);
}

.now {
  background: var(--cy-color-primary);
  color: var(--color);
}

.choosed {
  border: 2px solid var(--cy-color-primary-shade);
}
