:host(.action-sheet-overlay) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  touch-action: none;
}
.action-sheet-container {
  padding: 0 8px;
  height: 100%;
  z-index: 10;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  pointer-events: none;
}

.action-sheet-group {
  background: var(--cy-background-color);
  border-radius: 8px;
  overflow: hidden;
  pointer-events: initial;
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
}

.action-sheet-opers {
  overflow: auto;
  flex: 1;
}

.action-sheet-title {
  text-align: center;
  font-weight: 400;
  color: #999999;
  padding: 14px 10px;
  cursor: move;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.action-sheet-oper {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--cy-color-primary);
}
.action-sheet-oper::after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.drag-container {
  will-change: transform;
  touch-action: pan-y;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 70%;
}
.action-sheet-oper:active::after {
  background-color: currentColor;
  opacity: 0.1;
}

@media (any-hover: hover) {
  .action-sheet-oper:hover::after {
    background-color: currentColor;
    opacity: 0.1;
  }
}
.action-sheet-cancel {
  font-weight: 600;
  flex-shrink: 0;
  margin: 8px 0;
}
