:host {
  --center-size: 7px;
  --clock-size: 140px;
  --line-base-width: 8px;
  display: inline-block;
  margin: 5px;
}
.clock {
  width: var(--clock-size);
  height: var(--clock-size);
  border-radius: 50%;
  background: var(--cy-color-tint);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 2px var(--cy-color-shade), inset 0 4px 2px 4px rgb(0 0 0 / 10%), 0 3px 2px 3px rgb(0 0 0 / 20%);
  background-image: radial-gradient(circle at center, var(--cy-color-contrast) var(--center-size), transparent var(--center-size)),
    radial-gradient(circle at center, var(--cy-color-tint) 63%, transparent 63%),
    linear-gradient(to right, transparent 50%, var(--cy-color-contrast) 50%, var(--cy-color-contrast) 51%, transparent 51%),
    linear-gradient(to bottom, transparent 50%, var(--cy-color-contrast) 50%, var(--cy-color-contrast) 51%, transparent 51%),
    linear-gradient(60deg, transparent 50%, var(--cy-color-contrast) 50%, var(--cy-color-contrast) 51%, transparent 51%),
    linear-gradient(30deg, transparent 50%, var(--cy-color-contrast) 50%, var(--cy-color-contrast) 51%, transparent 51%),
    linear-gradient(-60deg, transparent 50%, var(--cy-color-contrast) 50%, var(--cy-color-contrast) 51%, transparent 51%),
    linear-gradient(-30deg, transparent 50%, var(--cy-color-contrast) 50%, var(--cy-color-contrast) 51%, transparent 51%);
}

.hour,
.minus,
.second {
  position: absolute;
  top: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform-origin: top center;
  background: var(--cy-color-contrast);
  will-change: transform;
  overflow: hidden;
}
.hour {
  width: calc(var(--line-base-width) / 1.6);
  height: calc(var(--clock-size) / 4);
}
.minus {
  width: calc(var(--line-base-width) / 2);
  height: calc(var(--clock-size) / 2.9);
}
.second {
  width: calc(var(--line-base-width) / 2.1);
  height: calc(var(--clock-size) / 2.2);
}
