:host {
  --opacity: 0.2;
  --background: #000000;
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  opacity: var(--opacity, 0.4);
  transform: translateZ(0px);
  contain: strict;
  background: var(--background);
}
